/*
   Daniels Kursits (evolbug) 2018
   MIT license
*/

@import 'code.css';
@import 'entry.css';
@import 'nav.css';
#w-version {
   margin: auto;
   margin-bottom: 0;
   padding: 10px;
   color: #0002;
}

body {
   font-family: Fira Code;
   text-rendering: optimizeLegibility;
   font-feature-settings: "calt" 1;
   font-weight: 300;
   font-size: 12pt;
   margin: 0;
}

content {
   float: right;
   display: block;
   height: 100%;
   width: 75%;
}

#empty {
   display: flex;
   background: #fff;
   position: absolute;
   z-index: 99999;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

#empty .message {
   margin: auto;
   text-align: center;
   font-weight: 400;
   font-size: 20pt;
   color: #0091EA;
}

#empty p {
   margin-top: 0px;
}

#empty h1 {
   text-align: center;
   margin-bottom: 0px;
   font-size: 40pt;
}