body {
   font-family: Fira Code;
   text-rendering: optimizeLegibility;
   font-feature-settings: "calt" 1;
   font-weight: 300;
   font-size: 12pt;
   margin: 0;
}

nav {
   background: #00000005;
   border-right: 2px solid #0091EA;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   width: 25%;
   display: flex;
   flex-flow: column;
   text-transform: capitalize;
   z-index: 99;
   overflow: auto;
}

.version {
   margin: auto;
   margin-bottom: 0;
   padding: 10px;
   color: #0002;
}

nav header {
   display: flex;
   margin: 20px;
   margin-bottom: -10px;
   padding-bottom: 20px;
   border-bottom: 2px solid #0001;
}

nav h1 {
   color: #0091EA;
   font-weight: 400;
   font-size: 20pt;
   margin: 0;
}

nav links {
   padding: 20px 0;
   overflow: auto;
}

nav links ul {
   padding-left: 15px;
}

nav links>a {
   padding: 5px;
   margin-left: 15px;
}

nav>a:visited {
   color: #0091EA;
}

nav a:hover {
   background: #9991;
}

nav a {
   color: #0091EA;
   display: flex;
   padding: 5px;
   text-decoration: none;
}

nav a li {
   padding-left: 30px;
   list-style: none;
   font-weight: 400;
}

nav a li.sep {
   padding-left: 30px;
   font-weight: 400;
}

ul ul {
   padding-left: 30px;
   padding-bottom: 5px;
}

nav a li.sep::before {
   content: '⮞';
   margin-left: -20px;
   padding-right: 20px;
}

content {
   float: right;
   display: block;
   height: 100%;
   width: 74%;
   padding: 10px 10px;
}

empty {
   display: flex;
   background: #fff;
   position: absolute;
   z-index: 99999;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

empty .message {
   margin: auto;
   text-align: center;
   font-weight: 400;
   font-size: 20pt;
   color: #0091EA;
}

empty p {
   margin-top: 0px;
}

empty h1 {
   text-align: center;
   margin-bottom: 0px;
   font-size: 40pt;
}